
  
version: "3.9"

services:
  django:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app               
      - sqlite_data:/app/db  
    command: bash -c "python3 manage.py migrate && python manage.py runserver 0.0.0.0:8000"

volumes:
  sqlite_data:
